body {
  margin: 0;
  background: rgb(96,96,96);
  background: linear-gradient(0deg, rgba(96,96,96,1) 0%, rgba(46,45,64,1) 34%, rgba(2,0,36,1) 100%);
  height: 100vh;
}
header {
  height: 70px;
  width: 100%;
  margin: 0;
  margin-bottom: 10vh;
}
/* #region Slider settings */
.sliderContainer {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
.sliderContainer div {
  color: white;
  text-align: center;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  height: auto;
  vertical-align: top;
  margin-top: 10px;
}
.slider:disabled::-webkit-slider-thumb {
  background: rgb(160, 35, 31);
}
.slider:hover:not([disabled]) {
  opacity: 1;
}
.slider:hover:not([disabled])::-webkit-slider-thumb {
  background: rgb(0, 102, 255);
}
.slider:hover:not([disabled])::-moz-range-thumb {
  background: rgb(0, 102, 255);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(19, 19, 214);
  border-radius: 20px;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgb(19, 19, 214);
  border-radius: 20px;
  cursor: pointer;
}
/* #endregion*/
/* #region Buttons */
.generator{
  padding-left: 30px;
  padding-right: 30px;
}
.sortMethods {
  display: inline-block;
  width: auto;
  height: 100%;
}
button {
  background: rgba(2, 0, 36, 0);
  background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgba(9,9,121,1) 75%, rgba(6,41,135,1) 100%);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  height: 100%;
}
button:disabled {
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(48,0,0,1) 32%, rgba(89,0,0,1) 46%, rgba(120,0,0,1) 62%, rgba(166,0,0,1) 76%, rgba(207,0,0,1) 89%, rgba(255,0,0,1) 100%);
}
button:hover:not(.selectedSort):not([disabled]):not(.stopButton) {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(59,137,136,1) 62%, rgba(125,161,255,1) 100%);
}
button:active {
  outline: none;
  border: none;
}
button:focus {
  outline: none;
  border: none;
}
.selectedSort {
  background: rgb(16, 9, 160);
  outline: none;
  border: none;
}
.stopButton{
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(48,0,0,1) 32%, rgba(89,0,0,1) 46%, rgba(120,0,0,1) 62%, rgba(166,0,0,1) 76%, rgba(207,0,0,1) 89%, rgba(255,0,0,1) 100%);
}
#startButton{
  font-weight: bolder;
  float: right;
}
/* #endregion */

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
}
