<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EAMSet2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <EAMSet2.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="DBVersion" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackgroundPath" serializeAs="String">
        <value>Img\loukalog.jpg</value>
      </setting>
      <setting name="FontColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowAmpoulesDescription" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMeasuredStrains" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCustomers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AmpoulesPosX" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="AmpoulesPosY" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="AmpoulesPosXDefault" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="AmpoulesPosYDefault" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MeasuredStrainsPosX" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="MeasuredStrainsPosY" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MeasuredStrainsPosXDefault" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="MeasuredStrainsPosYDefault" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SetsPosX" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="SetsPosY" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SetsPosXDefault" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="SetsPosYDefault" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CustomersPosX" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="CustomersPosY" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CustomersPosXDefault" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="CustomersPosYDefault" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AmpoulesHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AmpoulesWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AmpoulesHeightDefault" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="AmpoulesWidthDefault" serializeAs="String">
        <value>740</value>
      </setting>
      <setting name="MeasuredStrainsWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MeasuredStrainsHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MeasuredStrainsWidthDefault" serializeAs="String">
        <value>740</value>
      </setting>
      <setting name="MeasuredStrainsHeightDefault" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="SetsWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SetsHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SetsWidthDefault" serializeAs="String">
        <value>740</value>
      </setting>
      <setting name="SetsHeightDefault" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="CustomersHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CustomersWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CustomersHeightDefault" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="CustomersWidthDefault" serializeAs="String">
        <value>740</value>
      </setting>
    </EAMSet2.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
</configuration>
