body {
  margin: 0;
  padding: 0;
}
.card {
  display: grid;
  width: 200px;
  border-radius: 18px;
  background: white;
  border: 2px solid;
  font-family: Tahoma, Geneva, sans-serif;
  float: left;
  margin-left: 5%;
  margin-top: 25px;
  margin-bottom: 25px;
  perspective: 1000px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
.cardFront {
  width: 200px;
  height: 320px;
  background-image: url("../back_card.jpg");
  background-size: cover;
  border-radius: inherit;
}
.cardBack {
  backface-visibility: hidden;
  position: absolute;
  width: 200px;
  grid-template-rows: 50px 220px 50px;
  grid-template-areas: "top" "mid" "bot";
  background-color: white;
  border-radius: inherit;
}

.card-top {
  grid-area: top;
  line-height: 50px;
  font-size: 30px;
  margin-left: 15px;
}
.card-mid {
  grid-area: mid;
  line-height: 220px;
  font-size: 100px;
  text-align: center;
}
.card-bot {
  grid-area: bot;
  line-height: 50px;
  font-size: 30px;
  margin-right: 15px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.card:hover {
  transform: rotateY(0deg);
}
