<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="host" value="webdev.spsejecna.cz"/>
    <add key="port" value="11433"/>
    <add key="database" value="pv"/>
    <add key="user" value="student"/>
    <add key="password" value="StudentPV"/>
    <add key="table" value="sbj_subject"/>
  </appSettings>
</configuration>